body {
  /*   background-color: #000; */
  background-image: url("img/noise.png");
  background-size: 1024px;
}

.App {
  
}

// leftover from create-react-app
.App-logo {
  /*
     animation: App-logo-spin infinite 20s linear;
     height: 80px;
   */
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

// shimmer effect -- uncomment last two lines
.Sea {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  // background-image: url("img/dither-1.png");
  // animation: Background-morph infinite 0.5s linear;
}

@keyframes Background-morph {
  from { background-position: top left; }
  25% { background-position: top left 1px; } 
  50% { background-position: top 1px left 1px; } 
  75% { background-position: top 1px left 2px; } 
  to { background-position: top 2px left 2px; }
}

.World {
  height: 48px;
  width: calc(100vw - 32px);
  position: fixed;
  top: 0px;
  left: 16px;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 200;
}

.Container {
  width: calc(100vw - 32px);
  position: relative;
  top: 63px;
  left: 16px;
  padding: 0 8px 6px 8px;
  border: 1px solid #000;
  background: #fff url("img/dither-1.png") repeat;
  background-size: 16px;
  background-position: top 1px left;
  background-attachment: local;
  // animation: Container-breathe infinite 1s linear;
  z-index: 0;
}

.Moon, .Shadow {
  width: 48px;
  height: 48px;
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.Moon {
  background-image: url("img/dither-1.png");
  background-size: 16px;
  height: 48px;
  z-index: 100;
}

.Shadow {
  background-image: url("img/dither-5.png");
  background-size: 16px;
  z-index: -1;
}

@keyframes Container-breathe {
  from { width: 288px; }
  50% { width: 296px; }
  to { width: 288px; }
}

.DataHeading {
  background-color: #fff;
  height: 14px;
  display: inline-block;
  margin: 5px 0 -1px 20px;
  padding: 6px 6px 0 6px;
}

.DataHeading * {
  font-size: 8px;
  line-height: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
  position: relative;
  top: 2px;
  // animation: Heading-grow infinite 5s linear;
}

@keyframes Heading-grow {
  from { letter-spacing: 1px; }
  50% { letter-spacing: 3px; }
  to { letter-spacing: 1px; }
}

.Card {
  background-color: #fff;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  padding: 24px 40px 24px 24px;
  margin-bottom: 2px;
  animation: Card-release 0.3s ease-out;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes Card-release {
  from { border-radius: 24px; }
  to { border-radius: 12px; }
}

.Card:hover {
  animation: Card-squeeze 0.1s linear forwards;
}

@keyframes Card-squeeze {
  from { border-radius: 12px; }
  to { border-radius: 24px; }
}

.Card:active {
  /*   background-color: #000; */
  /*   animation: Card-blacken 0.1s linear alternate; */
}

@keyframes Card-blacken {
  from {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    background-color: #fff;
  }
  to {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #000;
  }
}

.Card h3 {
  //margin: 0 0 1.6em 0;
  padding-bottom: 0.2em;
  display: inline;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700;
  letter-spacing: 0.3px;
  border-bottom: 1px solid transparent;
}

.Card:hover h3 {
  /*   border-bottom: 1px solid #000; */
  animation: Heading-underline 0.1s 1 ease-in forwards;
}

@keyframes Heading-underline {
  from { border-color: transparent; }
  to { border-color: #000; }
}

.Card p {
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.3px;
}

.Projects {
  display: none;
}

.Expanded .Projects {
  display: block;
}

.Projects h4 {
  display: inline;
  margin-top: 24px;
  font-size: 8px;
  line-height: 9px;
  letter-spacing: 1px;
  font-weight: 100;
  margin: 0;
  text-transform: uppercase;
}

.Projects h5 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px
}

.TagList li {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px;
}

.Icon-ux {
  background-image: url("img/icon-ux.png");
}

.Icon-code {
  background-image: url("img/icon-code.png");
}

.Icon-graphic {
  background-image: url("img/icon-graphic.png");
}

.Icon-sound {
  background-image: url("img/icon-sound.png");
}

.Icon-studio {
  background-image: url("img/icon-studio.png");
}


.browser-window-background {
  position: absolute;
  top: 0;
  left: 0;
}

.img-wrap {
  width: 94px;
  height: 166px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  overflow: hidden;
  background-color: transparent;
  background-image: url("img/screenshot.png");
  background-repeat: no-repeat;
  background-size: 94px;
  background-position: 0 0;
}

.dither {
  background-image: url("img/dither-1.png");
  background-repeat: repeat;
  background-position: right 1px top 1px;
}

/* UTILITY CLASSES */

.Button {
  display: block;
  text-decoration: none;
  color: #000;
}

/*
   MEDIA QUERIES 
 */

@media screen and (min-width: 420px) {
  .World, .Container {
    width: 388px;
  }
  
  .Container {
    padding: 0 8px 6px 8px;
  }
}

/* HD image media queries */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
  body {
    background:url("img/noise@2x.png") repeat;
    background-size: 1024px;
  }

  .Container {
    background-image: url("img/dither-1@2x.png");

  }

  .Moon {
    background-image: url("img/dither-1@2x.png");
  }
  
  .Shadow {
    background-image: url("img/dither-5@2x.png");
  }

  .Icon-ux {
    background-image: url("img/icon-ux@2x.png");
  }

  .Icon-code {
    background-image: url("img/icon-code@2x.png");
  }
  .Icon-graphic {
    background-image: url("img/icon-graphic@2x.png");
  }
  .Icon-sound {
    background-image: url("img/icon-sound@2x.png");
  }
  .Icon-studio {
    background-image: url("img/icon-studio@2x.png");
  }
}
